# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# Windows
Thumbs.db

# Temporary files
*.tmp

# Package lock files
package-lock.json
yarn.lock

# any other configuration and build files that should not be version controlled
/.vscode/
/build/
/dist/

# images and icons
Public/icons/
Public/Images/

# any text note
ajax.txt
css sheet.txt
