body{
    font-family: "Poppins", sans-serif;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar a {
    text-align: center;
}
.fa-bars-staggered {
    font-size: 25px;
    color: #333;
}

.navbar-toggler {
    outline: none !important;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    background:  #215272;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-link:hover::before
{
    opacity: 0.4 !important;
} 

.banner-image {
    width: 50vw;
    margin-left: -20px;
}

/* #F9B617 */


/* cards */

.info {
    margin-top: 60px;
}


.card {
    min-height: 150px;
    text-decoration: none;
    background-color: #222;
    /* width: 20rem; */
    border-radius: 12px;
    padding: 10px 0;
}
.card-img {
    width: 25%;
}

.card-students {
    background-color: #2c6388;

}

.card-teachers {
    background-color: #0d4469;
}

.card-departments {
    background-color: #09314c;
}

.display-8 {
    font-size: 1.8rem;
    font-weight: 200;
}


/** media query **/

@media (max-width: 991px) {
    .banner-image {
        width: 100%;
    }
}
