<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS/home.css">

    <title>Home Page</title>
</head>
<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">University Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto">
                    <a class="nav-link me-5 active" aria-current="page" href="#">Home</a>
                    <a class="nav-link me-5" href="#">Students</a>
                    <a class="nav-link me-5" href="#">Teachers</a>
                    <a class="nav-link me-5" href="#">Departments</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- banner with image -->
    <div class="banner container mt-4 mb-2">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <img class=" banner-image" src="Images/banner1.png" alt="banner">
            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 mt-5 p-4">
                <h1 class="display-5">University Management</h1>
                <p class="lead mt-4">Keeps Students and Teachers Record of the Engineering Faculty and Shows necessary analysis of the records. Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>

    <!-- Info showing in card layouts -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-10 col-xl-3 col-lg-4 col-md-6 col-sm-10 mb-4">
                <div class="card card-students">
                    <img src="icons/students-icon.png" class="card-img m-auto" alt="...">
                    <p class="display-8 p-1 text-center text-light"> <span id="tot_students">0</span> Students</p>
                </div>
            </div>
            <div class="col-10 col-xl-3 col-lg-4 col-md-6 col-sm-10 mb-4">
                <div class="card card-teachers">
                    <img src="icons/teachers-icon.png" class="card-img m-auto" alt="...">
                    <p class="display-8 p-1 text-center text-light"> <span id="tot_teachers">0</span> Teachers</p>
                </div>
            </div>
            <div class="col-10 col-xl-3 col-lg-4 col-md-6 col-sm-10 mb-4">
                <div class="card card-departments">
                    <img src="icons/departments-icon.png" class="card-img m-auto" alt="...">
                    <p class="display-8 p-1 text-center text-light"> <span id="tot_departments">4 </span> Departments</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        // number auto incremental animation
        function autoIncrement(elementId, step, interval, stop) {
            let i = 0;
            const intervalId = setInterval(function() {
                    let element = document.getElementById(elementId);
                    if (i + step < stop){
                        i+= step;
                        element.innerText = i;
                    }
                    else {
                        clearInterval(intervalId); 
                        element.innerText = stop;
                    }
                }, interval);
                console.log(intervalId);         
        }

        autoIncrement('tot_students', 15, 100, 157);
        autoIncrement('tot_teachers', 1, 80, 11);
        // autoIncrement('tot_departments', 1, 300, 4);
    </script>

</body>
</html>