<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Student Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="/edit" method="POST">
                    <input type="hidden" value="<%=stuent._id=>">
                    <div class="mb-3">
                        <label for="id" class="col-form-label">ID:</label>
                        <input type="text" class="form-control" id="id" value="" name="id"></input>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" value="" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="cgpa" class="col-form-label">CGPA:</label>
                        <input type="text" class="form-control" id="cgpa" value="" name="cgpa"></input>
                    </div>
                    <div class="mb-3">
                        <label for="department" class="col-sm-2 col-form-label">Department</label>
                        <select required class="form-select form-control" id="department" value="" name="department">
                            <option value="ICT">ICT</option>
                            <option value="CSE">CSE</option>
                            <option value="TE">TE</option>
                            <option value="ME">ME</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary">Save</input>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

</script>