<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>ID: <%=student.id%></h2>
    <h2>Name: <%=student.name%></h2>
    <h2>CGPA: <%=student.cgpa%></h2>
    <h2>Department: <%=student.department%></h2>
</body>
</html>